html {
    background: #EEE;
    font-family: sans-serif;
}

body {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #FFF;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0,0,0,.45);
}

img {
    width: 100%;
    max-width: 800px;
    box-shadow: 3px 3px 6px rgba(0,0,0,.3);
}

h3 {
    padding-top: 80px;
}

h3:first-of-type {
    padding-top: 40px;
}

p {
    padding-bottom: 20px;
    font-size: .9em;
    line-height: 1.45em;
    border-bottom: 1px solid #AAA;
    
}